<configurations>
 <profile name="Default GnuPG" default="1" id="1">
  <exec>gpg2</exec>
  <path>~/.gnupg/</path>
 </profile>
 <profile name="Matthieu" default="0" id="2">
  <exec>gpg2</exec>
  <path>~/.guipg/matthieu</path>
 </profile>
 <profile name="Guillaume" default="0" id="3">
  <exec>gpg2</exec>
  <path>~/.guipg/Guillaume</path>
 </profile>
</configurations>
