<configurations>
 <profiles defaultProfileId="1">
  <profile id="1" name="Default_GnuPG">
   <exec>gpg</exec>
   <path>~/.gnupg/</path>
  </profile>
  <profile id="2" name="Matthieu">
   <exec>gpg</exec>
   <path>~/.gnupg</path>
  </profile>
  <profile id="3" name="Guillaume">
   <exec>gpg</exec>
   <path>~/.gnupg</path>
  </profile>
 </profiles>
</configurations>
